$light: #e8e8e8;
$mid-color: #a0a1a4; 
$dark: #000000;

$ttt-1: #726eff;
$ttt-2: #fff685;
$ttt-3: #37465b;
$ttt-4: #5affe7;

$rps-1: #264653;
$rps-2: #e76f51;
$rps-3: #2a9d8f;
$rps-4: #e9c46a;

$sh-1: #32405b;
$sh-2: #fe9e84;
$sh-3: #00777b;
$sh-4: #f7e7be;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$font-weight: (
    "S": 400,
    "M": 600,
    "L": 800
);

$font-size: (
    "S": 1.25rem,
    "M": 2rem,
    "L": 3rem
);